/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-jun-2015, 19:58:51
    Author     : Juan
*/

header{
    text-align: center;
}

footer{
    position:absolute;
    bottom: 5px;
    height: 40px;
}

#seccion-formulario{
    width: 300px;
    margin: 0 auto;
    
}

#formulario{
    text-align: left;
}

